## 4.6 Combining and Exporting Data Part 2

#### This script contains the following points:

### 0.0 Preparational Steps
### 1.0 Combining Dataframes
### 2.0 Data Export

## 0.0 Preparational Steps

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# defining path
path = r'C:\Users\chris\OneDrive\Desktop\Data Analytics CF\202203_Instacart Basket Analysis'

In [3]:
# Importing dataframe orders_products_combined
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# Importing cleaned products df
df_prods_clean = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_prods_checked_final.csv'))

In [5]:
df_ords_prods_combined.shape

(32434489, 11)

In [6]:
df_prods_clean.shape

(49672, 6)

In [7]:
df_ords_prods_combined.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
count,3.243449e+07,3.243449e+07,3.243449e+07,3.243449e+07,3.243449e+07,3.035642e+07,3.243449e+07,3.243449e+07,3.243449e+07
mean,1.710749e+06,1.029372e+05,1.714205e+01,2.738818e+00,1.342498e+01,1.110407e+01,2.557634e+04,8.351076e+00,5.896975e-01
std,9.873007e+05,5.946648e+04,1.753504e+01,2.090049e+00,4.246365e+00,8.778914e+00,1.409669e+04,7.126671e+00,4.918886e-01
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00
25%,8.559430e+05,5.142100e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.353000e+04,3.000000e+00,0.000000e+00
50%,1.711048e+06,1.026110e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.525600e+04,6.000000e+00,1.000000e+00
75%,2.565514e+06,1.543910e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.793500e+04,1.100000e+01,1.000000e+00
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00

In prior attemps to merge the df while using the 'indicator = True' argument the function could not be executed because the '_merge' column already exists, so a new line was inserted to check the column names of both dataframes to see where this column came from

In [8]:
print(df_ords_prods_combined.columns)

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'first_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

In [9]:
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['_merge'])

In [10]:
df_prods_clean.describe()

         Unnamed: 0    product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000  49672.000000   49672.000000  49672.000000
mean   24852.005053  24850.349775     67.762442      11.728942      9.993282
std    14342.265579  14340.705287     38.315784       5.850779    453.615536
min        0.000000      1.000000      1.000000       1.000000      1.000000
25%    12432.750000  12432.750000     35.000000       7.000000      4.100000
50%    24851.500000  24850.500000     69.000000      13.000000      7.100000
75%    37272.250000  37268.250000    100.000000      17.000000     11.100000
max    49692.000000  49688.000000    134.000000      21.000000  99999.000000

In [11]:
print(df_prods_clean.columns)

Index(['Unnamed: 0', 'product_id', 'product_name', 'aisle_id', 'department_id',
       'prices'],
      dtype='object')

In [12]:
# dropping column unnamed: 0
df_prods_clean = df_prods_clean.drop(columns = ['Unnamed: 0'])

In [13]:
df_prods_clean.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

## 1.0 Combining Dataframes

Appropriate cell to combine dataframes is: product_id
As all order information should be kept, I will use the left join

In [14]:
# defining new df for the merged data
df_orders_products_merged = df_ords_prods_combined.merge(df_prods_clean, on = 'product_id', how = 'left', indicator = True )

In [15]:
df_orders_products_merged['_merge'].value_counts()

both          32404859
left_only        30200
right_only           0
Name: _merge, dtype: int64

In [16]:
df_outer_merge = df_ords_prods_combined.merge(df_prods_clean, on = 'product_id', how = 'outer', indicator = True )

In [17]:
df_outer_merge['_merge'].value_counts()

both          32404859
left_only        30200
right_only          11
Name: _merge, dtype: int64

The results tells me that I have 30200 orders of at least one product_id that does not have a matching product definition in the product df.
Moreover I have 11 products that have no orders in the order df.
As I'm only interested in the left join I will keep and export the df_orders_products_merged.
Due to its size I will export this to pickle.

## 2.0 Data Export

In [18]:
# Export df_orders_products_merged to pickle due to size
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))